
<br>
<br>

<div class="container">
    <div class="row mt-5">
        <div class="col d-flex flex-wrap justify-content-around">
            <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10  mt-4 mb-4">
                <div class="card border"  style="background-color: transparent;">
                    <div class="card-header  p-1 mb-4">
                        <h4 class="text-center text-light">Register</h4>
                    </div>
                    <div class="card-body text-light">
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <label for="">User Name</label>
                                <input required class="form-control" type="text" name="name"  style="background-color: transparent;color:white"placeholder="Enter your email" />
                            </div>
                            <div class="form-group">
                                <label for="">Email</label>
                                <input required class="form-control" type="email" name="email"  style="background-color: transparent;color:white"placeholder="Enter your email" />
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input required class="form-control"  style="background-color: transparent;color:white" type="password" name="password"
                                    placeholder="Enter your password">
                            </div>
                            <div class="text-center">
                                <input class="btn btn-primary" type="submit" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>